.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    cursor: pointer;
}

.card-container {
    height: 600px;
    /* background-color: black; */
    border: teal solid 1px; 
}

.card-body {
    margin-left: 12px;
}