.form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: black;
    border-bottom: 2px solid blue;
    /* border-bottom: 2px solid #73C91D; */
    /* background-color: #2E3436; */
}

/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center; */
/* } */