.cat-nav {
    height: 450px; /* 400 / 450 / 500 check size */
    width: 300px;
    margin-top: 50px;
    margin-left: 100px;
}

.cats {
    color: teal;
    display: list-item;
    align-items: flex-start;
    justify-items: flex-start;
    list-style: none;
    margin-left: 10px;
    padding-top: 8px;
}

.select-cat{
    margin-left: 30pt;
    margin-top: 15px;
    padding-top: 10pt; /* adjust as desire */
}